VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=cofrinho-2a32f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cofrinho-2a32f
VITE_FIREBASE_STORAGE_BUCKET=cofrinho-2a32f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=180921150709
VITE_FIREBASE_APP_ID=1:180921150709:web:0640d7310d544b5d0469bc
VITE_FIREBASE_MEASUREMENT_ID=G-L3H2S42TBQ
